* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 76px;
  border-bottom: 1px solid lightgrey;
}

body {
  font-family: Raleway;
}

@font-face {
  font-family: "Raleway";
  src: url(./fonts/Raleway-Italic-VariableFont_wght.ttf);
}

nav {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

ul {
  display: flex;
  gap: 30px;
  list-style: none;
}

li a {
  color: #666;
  text-decoration: none;
}

.logo {
  color: #666;
  text-decoration: none;
}

nav a:hover {
  color: #337ab7;
}

.logo:hover {
  color: red;
}
