h3 {font-size: 48px; background-color: gray;color:white;font-family: Arial, Helvetica, sans-serif; text-align: center;}
p {color: #339;font-size: 20px;}
li {color: #777;font-size: 20px;}
li:first-of-type {text-decoration: overline;}
li:nth-of-type(2){text-align: center;text-decoration: line-through;}