h1 {
  font-size: 10rem;
  color: #353531;
  font-family: monospace;
  font-weight: 700;
  text-shadow: 5px 5px 10px #ec4e20, 5px 5px #ff9505, 5px 5px #ff016fb9,
    5px 5px #f2f3d9, 1px 10px #7cb518;

